body {
	margin: 0;
	padding: 0;
	background-image: url(../images/background2.gif);
}
.container-fluid {
	
}
#headerLogo {
	display: block;
	float: left;
}
#headerSlogan {
	display: block;
	float: right;
}
span h5 {
	text-align: center;
}
span img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}