* {
	margin: 0;
	padding: 0;
}
body {
	background: #efe5d0 url(../images/background2.gif);
	border:  12px solid #aca17c;
	font-size: small;
	font-family: georgia, "times new roman", serif;
}
.container-fluid {
	background: #efe5d0 url(../images/background.gif);
}
 .header {
	background-color: #675c47;
	 border-bottom: 12px solid #aca17c;
}
#headerLogo {
	float: left;
}
#headerSlogan {
	float: right;
}
.navbar {
	font-weight: bolder;
	margin-bottom: 0;
}
.navbar-nav li > a {
	text-transform: capitalize;
	color: #333;
	transition: background-color .2s, color .2s;
	
	&:hover,
	&:focus {
		background-color: saddlebrown;
		color: #fff;
	}
}
.navbar-nav li.active > a {
	background-color: saddlebrown;
	color: #fff;
}
.content {
	border-top: 12px solid #aca17c;
}
.main {
	border-left: 12px solid #aca17c;
	border-right: 12px solid #aca17c;
}
a, h3, h5 {
	color: brown;
}
span h5 {
	text-align: center;
}
span img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer {
	display: block;
	text-align: center;
	background-color:  #605036;
	color: white;
	border-top: 12px solid #aca17c;
}
/* **************************************************** bean machine form styles ******************************************************** */
form {
	display: block;
	margin: 0 auto;
	width: 60%;
	border: 1px solid black;
}
.table-text {
	border-top: 12px solid #aca17c;
}
.center-text {
	text-align: center;
}