body {
	margin: 0;
	padding: 0;
	background-image: url(../images/background2.gif);
}
.container-fluid {
	background-image: url(../images/background.gif);
	margin: 15px;
}
 .header {
	background-color: #605036;
}
#headerLogo {
	display: block;
	float: left;
}
#headerSlogan {
	display: block;
	float: right;
}
.navigation {
	margin-top: 15px;
}
a, h3 {
	color: brown;
}
span h5 {
	text-align: center;
}
span img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer {
	display: block;
	text-align: center;
	background-color:  #605036;
	color: white;
}